* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0 0 1px black;
    min-height: 100vh;
    font-family: 'Nova Flat';
    color: #171717;
}

header {
    border-bottom: 5px solid #ffc613;
}

nav {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 10px 10px -10px goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    height: 80px;
}

nav ul {
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    text-shadow: 1px 1px 1px #ffc613;
}

nav ul li:hover,
nav .active {
    color: #ffc613;
    text-shadow: 1px 1px 1px #171717;
}

main {
    min-height: 50vh;
}

.hero {
    text-align: center;
    color: #ffc613;
    position: relative;
    text-shadow: 0 0 3px #ffffff;
    background: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}

.hero h1 {
    font-size: 50px;
    padding-top: 3%;
}

.products-sec {
    padding: 100px 60px;
    overflow: hidden;
}

.items {
    width: 25%;
    float: left;
    padding: 50px;
}

.items .card {
    border: 0.5px solid #17171771;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: 0.2s ease;
}

.items .card:hover {
    box-shadow: 0 0 10px #17171757;
}

.items .card-img {
    width: 100%;
}

.title {
    color: #656567;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.card-title {
    color: #656567;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
}

footer {
    border-top: 5px solid #ffc613;
    padding: 20px 100px;
    overflow: hidden;
    font-size: 16px;
}

footer>div {
    padding: 20px;
}

.social {
    width: 30%;
    float: left;
}

.contact {
    width: 30%;
    float: left;
}

.frequently {
    width: 40%;
    float: left;
}

footer .fa {
    font-size: 20px;
    color: inherit;
    margin-right: 5px;
}

footer li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    transition: 0.2s ease;
    padding: 5px 0;
}

footer li:hover {
    color: #ffc613;
    text-shadow: 1px 1px #171717;
}

.f-title {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid #171717;
    display: inline-block;
}

.frequently ul li::before {
    content: "-";
    margin-right: 5px;
}

.frequently ul li {
    content: "-";
    padding-left: -5px;
}


/* SIGNUP */

.form-box {
    width: 40%;
    margin: 0 auto;
    box-shadow: 0 0 10px #1717175d;
    padding: 30px;
}

.form-box .title {
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

form label {
    display: inline-block;
    font-weight: 600;
    padding-bottom: 10px;
}

form .input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    font-family: 'Nova Flat';
    border: 1px solid #17171771;
}

*:focus {
    outline: none;
}

form .input:focus {
    box-shadow: 0 0 5px #17171771;
}

form .form-row {
    margin-bottom: 20px;
}

.btn {
    border: 1px solid #000000;
    background-color: #171717;
    color: #fff;
    font-size: 18px;
    font-family: 'Nova Flat';
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #656567;
}

.form-row a {
    color: #000000;
    font-weight: 600;
}

.contact-box {
    display: flex;
}

.contact-box>div {
    width: 50%;
    padding: 30px;
}

textarea {
    resize: vertical;
}

.c-title {
    margin-bottom: 20px;
}

.contact-box table {
    margin-top: 30px;
    width: 100%;
}

.contact-box table td,
.contact-box table th {
    padding: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.name {
    margin-left: 10px;
}

.brand {
    font-size: 28px;
}

#error {
    display: none;
    font-weight: 700;
    color: red;
}

#success {
    display: none;
    font-weight: 700;
    color: green;
}